.eig-step-icon.icon-info {
    background-image: url('../img/icon/step/icon-info.png');

}

.eig-step-icon.icon-enclosure {
    background-image: url('../img/icon/step/icon-enclosure.png');
}

.eig-step-icon.icon-menu {
    background-image: url('../img/icon/step/icon-menu.png');
}

.eig-step-icon.icon-secret {
    background-image: url('../img/icon/step/icon-secret.png');
}

.eig-step-icon.icon-file {
    background-image: url('../img/icon/step/icon-file.png');
}

.eig-step-icon.icon-chat {
    background-image: url('../img/icon/step/icon-chat.png');
}

.eig-step-icon.icon-volume {
    background-image: url('../img/icon/step/icon-volume.png');
}

.eig-step-icon.icon-matter {
    background-image: url('../img/icon/step/icon-matter.png');
}

.eig-step-icon.icon-suboffice {
    background-image: url('../img/icon/step/icon-suboffice.png');
}

.eig-step-icon.icon-readdo {
    background-image: url('../img/icon/step/icon-readdo.png');
}

.eig-step-icon.icon-review {
    background-image: url('../img/icon/step/icon-review.png');
}

.eig-step-icon.icon-distribute {
    background-image: url('../img/icon/step/icon-distribute.png');
}

.eig-step-icon.icon-task {
    background-image: url('../img/icon/step/icon-task.png');
}